
  body {
    background: white;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }

#header {
  display: inline-block;
  background-color: white;
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 5px 10px;
}

#header:hover {
  background-color: #8FBC8F;
  box-shadow: 10px 20px;
}

.cart-button {
  max-width: 5%;
  max-height: 5%;
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  padding-right: 10%;
  padding-top: 5%;

}

#single-item {
  display: inline-block;
  background-color: white;
  border: 3px solid black;
  border-radius: 7px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  max-width: 20%;
  max-height: 20%;
}

#single-item:hover {
  background-color: #8FBC8F;
  box-shadow: 5px 10px;
}

#single-item-individ {
  max-width: max-content;
  background-color: #8FBC8F;
  border: 3px solid black;
  border-radius: 7px;
}

#single-item-individ:hover {
  background-color: #8FBC8F;
  box-shadow: 5px 10px;
}

#single-item img {
  max-width: 70%;
  max-height: 70%;
  display: inline-block;
  padding-bottom: 10px;
}

#single-item-individ img {
  max-width: 10%;
  max-height: 10%;
  display: inline-block;
  padding-bottom: 10px;
}

#itemsContainer > * {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  margin: 30px ;
}

#cart-div {
  background-color: white;
  border: 3px solid black;
}

#cart-div img {
  max-width: 10%;
  max-height: 10%;
}