
  body {
    background: white;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }

#header {
  display: inline-block;
  background-color: white;
  border: 3px solid black;
  box-shadow: 5px 10px;
}

.cart-button {
  float: right;
  margin-top: 40px;
  margin-right: 200px;
  position: absolute;
  top: 00;
  right: 00;
}

#single-item, #single-item-individ {
  display: inline-block;
  background-color: white;
  border: 3px solid black;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  max-width: 20%;
  max-height: 20%;
}

#single-item:hover {
  background-color: #8FBC8F;
  box-shadow: 5px 10px;
}

#single-item-individ:hover {
  background-color: #8FBC8F;
  box-shadow: 5px 10px;
}

#single-item img {
  max-width: 70%;
  max-height: 70%;
  display: block;
  padding-bottom: 20px;
}

#single-item-individ img {
  max-width: 40%;
  max-height: 40%;
  display: block;
  padding-bottom: 20px;
}

#itemsContainer > * {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  margin: 30px ;
}

#cart-div {
  background-color: white;
  border: 3px solid black;
}