
  body {
    background: white;
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
  }

#header {
  display: inline-block;
  background-color: white;
  border: 3px solid black;
  box-shadow: 5px 10px;
}

#each-item, #single-item {
  display: inline-block;
  background-color: white;
  border: 3px solid black;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}